/*
	Castlecss-form variables
	Fallback for missing castlecss-core variables
	Example variables file: http://castlecss.com/variables.html
*/

/* Form specific variables */

/* Standard Inputs */
$input-height: 4.8rem !default;
$input-bg-color: $color01 !default;
$input-bg-color-focus: $color01 !default;
$input-color: $color02 !default;
$input-color-focus: $color02 !default;
$input-border-color: #eee !default;
$input-border-color-focus: #eee !default;
$input-border: 1px solid $input-border-color !default;

/* Custom select */
$select-arrow: "\203A" !default;

/* Labels */
$input-label-color: #aaa !default;
$input-label-color-focus: #aaa !default;

/* Radios and Checkboxes*/
$input-control-color: #eee !default;
$input-control-color-focus: $theme01 !default;

/* Form transitions */
$input-transition: .1s all ease-in-out !default;

/* Icons */
$input-icon-color: #eee !default;
$input-icon-bg-color: #797979 !default;