// Customselect styling

.select {
	position: relative;
	display: inline-block;
	width: 100%;

	select {
		background: $input-bg-color;
		-moz-appearance:none;
		-webkit-appearance: none;
		appearance: none;
		cursor: pointer;
		width: 100%;

		&:hover,
		&:focus {
			border-color: $input-border-color;
			color: $input-color-focus;

			~ .select-arrow:after {
				border-top-color: $input-border-color-focus;
			}
		}

		&:focus {

			~ .select-arrow {
				&:after {
					transform: rotate(90deg) scaleX(-1);
				}
			}
		}

		&:disabled {
			pointer-events: none;
			-ms-pointer-events: none;
			opacity: .5;

			~ .select-arrow {
				border-top-color: $disabled;
			}
		}
	}

	select::-ms-expand {
		display: none;
	}
}

.select-arrow {
	position: absolute; top: 0;  right: 0;
	width: $input-height; height: $input-height;
	transition: $input-transition;
	line-height: $input-height;
	text-align: center;
	pointer-events: none;

	&:after {
		content: $select-arrow;
		display: block;
		width: $input-height; height: $input-height;
		transform: rotate(90deg) scaleX(1);
		transform-origin: center;
	}
}