.select {
	position: relative;
	display: inline-block;
	width: 100%;

	select {
		background: $color01;
		-webkit-appearance: none;
		appearance: none;
		cursor: pointer;

		&:hover,
		&:focus {
			border-color: $color05;
			color: $color02;

			~ .select-arrow {
				border-top-color: $color02;
			}
		}

		&:focus {

			~ .select-arrow {
				transform: rotate(-180deg) translateY(-50%);
			}
		}

		&:disabled {
			pointer-events: none;
			-ms-pointer-events: none;
			opacity: .5;

			~ .select-arrow {
				border-top-color: $color05;
			}
		}
	}

	select::-ms-expand {
		display: none;
	}
}

.select-arrow {
	position: absolute;
	top: 50%;
	right: 15px;
	width: 0;
	height: 0;
	border-width: 8px 5px 0 5px;
	border-style: solid;
	border-color: $color05 transparent transparent transparent;
	transform: translateY(-50%);
	transform-origin: center top;
	pointer-events: none;
	transition: $transition;
}
